/*
  COLOR SCHEME
  Dark Black:     #0B0C10
  Dark Grey:      #1F2833
  Grey:           #C5C6C7
  Turqouise:      #66FCF1
  Dark Turqouise: #45A29E
*/

body {
  margin: 0;
}

/* NAVBAR START */

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #1F2833;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #45A29E;
}

.navBar {
  position: fixed;
}

/* NAVBAR END */

/* MEDIA START */

/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet
   480-less    - phone landscape & smaller
--------------------------------------------*/
@media all and (min-width: 1024px) and (max-width: 1280px) { }

@media all and (min-width: 768px) and (max-width: 1024px) { }

@media all and (min-width: 480px) and (max-width: 768px) { }

@media all and (max-width: 480px) { }

/* MEDIA END */
